.dbg {
  border: 1px solid red;
}

ul.no-bullets {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

ul.shrink {
  flex-shrink: 1;
}

.bg-light {
  background: #545c6c;
}

.chatterbox { 
  color: white;
  text-align: left;
  background-color: #282c34;
  min-height: 100vh; 
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
 
.chatterbox-header { 
  border-bottom: 1px #1b151c solid; 
  height: calc(clamp(50px, 10vw, 150px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.chatterbox-main {  
  display: flex;
  flex-flow: row nowrap;
  justify-content:center; 
  padding-top: 4vh;
  padding-bottom: 4vh;
  min-height: max-content;
}

.chatterbox-footer { 
  max-height: 100%;
  flex-shrink: 1;
  background: #545c6c;
}


.chatbox-list{ 
  display: flex;
  flex-flow: column wrap;  
  gap: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.chatbox-item{   
  max-width: 1400px;
  border-radius: 2%;
  box-shadow: -0.1em -0.1em 0.7em #1b151c;
}

.chatbox-header{   
  padding-left: 1vw;
  padding-top: 1vw;
  display: flex;
  flex-flow: column; 
  font-size: calc(clamp(16px, 2vmin, 25px));
}

.chatbox-header strong{
  color:#ba69ce;

}
.chatbox-header small{
  color:#60aeb4;

}
 
.chatbox-body { 
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1em;
  transition: max-height 0.3s ease-out; 
}
 

.chatbox-says p{
  font-size: clamp(14px, 2vmin, 25px); 
}

.chatbox-body img {
  padding-top: 1vh;
  width: calc(clamp(50px, 20vw, 30%));
  height: calc(clamp(50px, 20vw, 30%));
  object-fit: cover;
  cursor: pointer;
  transition:
    width 0.3s,
    height 0.3s;
}

.chatbox-body img.expanded {
  width: calc(max(50px, 100% ));
  height: calc(max(50px, 100%));
}

.chatbox-comments { 
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;

}
.chatbox-comments.expanded {
  max-height: 1000px;  /* You can adjust this value based on expected content size */
}
.toggle-comments{
  color: #6d8cc8;
  cursor: pointer;
}

.comment-item {
  padding: 0.5em;
  border-top: 1px solid #ccc;
}

.comment-item:first-child {
  border-top: solid 2px #1f2121;
}

.comment-header strong { 
  color:#ba69ce;
}
.comment-header small { 
  color:#60aeb4;
}
.comment-body { 
  font-size: clamp(13px, 2vmin, 25px); 
} 