.comment-item {
    padding-left: 1vw;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #ccc;
  }
  
  .comment-item:first-child {
    border-top: solid 2px #1f2121;
  }
  
  .comment-header strong {
    color: #ba69ce;
  }
  
  .comment-header small {
    color: #60aeb4;
  }
  
  .comment-body {
    font-size: clamp(13px, 2vmin, 18px);
  }
  