*{
  border: 1px solid red;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul.horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}

.bg-light {
  background: #545c6c;
}

.App {
  color: white;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.App-nav{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}


.App-main {
  min-height: max-content;
}

.App-footer { 
  max-height: 100%;
  flex-shrink: 1;  background: #545c6c;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} 
 
 